
body{
  background-color:#122b39 ;
    
}
h1{
    size: initial;
    font-size: xx-large;
    color: rgb(245, 164, 43);
    font-family: 'Anton', sans-serif ;
}

h3{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
font-size: 20px; 
}

header {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 100px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;  
}

.title1 {
    font-family: 'M PLUS 1 Code', sans-serif;
    color: rgb(245, 164, 43);
    font-size: 25px; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
}

.bold {
    font-weight:bold
}

.orange {
    color: rgb(245, 164, 43);
}

.white {
    color: #f3f0f0;
}


.chart { 
    width: 400px;
    height: 418px;
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #222222 solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}
.chart2 {
    width: 400px;
    height: 380px;
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #222222 solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}
.chart3 { 
    width: 409px;
    height: 418px;
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #222222 solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
    
    
}

/*.pngchart {
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #2a9d8f solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}*/

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
}
    
    #loader {
        margin: 150px auto 50px auto;
        width: 120px;
        height: 120px;
        border: 16px solid Gainsboro;
        border-radius: 50%;
        border-top: 16px solid #9d6f2a;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    #loadermsg {
        position: relative;
        font-weight: bold;
        font-family: Inter,sans-serif;
        color: #E9C46A;
        font-size: 20px; 
        letter-spacing: 1px; 
        line-height: 1; 
        text-align: center;
    }
    
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    #container {
        text-align: center;
      }    
    
    /* Button 07 (layout and code from https://www.w3schools.com/css/default.asp)*/
    .button-07 {
        align-items: center;
    margin: 10px;
    background-color: rgb(207, 129, 12);
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    
    .button-07:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}
    
    .button-07:hover:after {
        transform: translate(0, 0);
    }
    
    .button-07:active {
        background-color: #274754;
        outline: 0;
    }
    
        .button-07:hover {
        outline: 0;
    }
    
    @media (max-width: 480px) {
        .button-07 {
            margin: 5px;
            font-size: 12px;
        }
        header {
            font-size: 65px; 
        }
        .chart {
            width: 380px;
        }
        .title1 {
            font-size: 15px;
        }
        #loadermsg {
            font-size: 15px;
        }
        #loader {
            margin: 50px auto 50px auto;
        }
        .pngchart {
            width: 390px;
        }
        .button-07 {
            padding: 0 20px;
        } 
        .button-07:after {
            transform: translate(6px, 6px);
        }
    }
