



/* This is my first proper css file */

body{
    background-color: rgb(35, 51, 122);
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: rgb(240, 236, 236);
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(17, 2, 2);
}


.chart{
    background-color: white;
    width:auto;
    border-width: 1px;
    border-style: solid;
    border-radius: auto;
    border-color: rgb(0, 0, 0);
    margin: auto;
}
